body
{
    font-family: 'Urbanist';
    color: #6c757d;
}

.btn
{
    background-color: #9B3655 !important;
}

.text-primary, .active, .nav-link:hover
{
    color: #9B3655 !important;
}
.form-control, .btn:focus
{
    box-shadow: none !important;
    
}
.border-white
{
    border-color: white;
}
.bg-secondary
{
    background-color: #6c757d;
}
.hover-white:hover{
    color: white !important;
}
