body, .text-secondary
{
    font-family: 'Urbanist';
    color: #6c757d;
}
h2{
    font-size: 36px;
}
.btn, .bg-primary
{
    background-color: #9B3655 !important;
}
.bg-primary-opac
{
    background-color: #f9f5ff;
    font-size: small;
}
.fs-large
{
    font-size: 88px;
}
.text-primary, .active, .nav-link:hover
{
    color: #9B3655 !important;
}
.form-control, .form-control:focus, .btn:focus, button:focus
{
    box-shadow: none !important;
    
}
.form-control:focus
{
    border-width: 1;
    border-color: #9B3655;
}
.card
{
    width: 343px;
    height: 260px;
}
.border-white
{
    border-color: white;
}
.border-primary
{
    border-color: #9B3655 !important;
}
.btn-alt
{
    color: #6c757d;
    width: 48px;
    height: 48px;
}
.bg-secondary
{
    background-color: #6c757d;
}
.hover-white:hover{
    color: white !important;
}
@media screen and (max-width: 768px) {

    div{
        text-align: center;
    }
    .card
    {
        width: 100%;
        height: 100%;
    }
    .fs-large
    {
        font-size: 24px;
    }
    
}